{% extends 'my_company/layout.html' %}

{% block title %}
    Form
{% endblock %}
{% block body %}
    <div class="d-flex justify-content-center p-3" id="job-apply-form">
        <form action=" {% url 'job_application' career.id %} " method="POST" class="col-6">
            {% csrf_token %}
            <label class="text-light mt-3" for="job-applier">Full Name:</label>
            <input class="form-control" id="job-applier" name="job_applier" type="text">
            <label class="text-light mt-3" for="job-position">Postition</label>
            <input class="form-control" type="text" id="job-position" name="position" required>
            <label class="text-light mt-3" for="salary">Expected Salary</label>
            <input class="form-control" type="number" id="salary" name="expected_salary" required>
            <label class="text-light mt-3" for="contact-number">Contact Number</label>
            <input class="form-control" type="number" id="contact-number" name="contact_number" required>
            <label class="text-light mt-3" for="cover-letter">Cover Letter</label> <br>
            <textarea name="cover_letter" id="cover-letter" cols="80" rows="8"></textarea> <br>
            <label class="text-light mt-3" for="apply-date">Avaliable Date</label>
            <input class="form-control" type="date" id="apply-date" name="apply_date" required>

            <div class="d-flex justify-content-between align-items-center">
                <input type="submit" class="btn btn-primary mt-3" value="SUBMIT">
                <a href="{% url 'career' %}" class="btn btn-danger">CANCEL</a>
            </div>
        </form>
    </div>
{% endblock %}