{% extends "my_company/layout.html" %}

{% block body %}

    <div style="margin-top: 100px;display: flex;flex-direction: column;justify-content: center;align-items: center;background-color: rgba(0,0,0,0.5);" >
        <h2 class="text-light text-center" style="text-shadow: 2px 2px 2px black;">Login</h2>

        {% if error %}
            <h1 class="text-center text-danger">{{ error }}</h1>
        {% endif %}

        <form action="{% url 'login' %}" method="post" class="col-6">
            {% csrf_token %}
            <div class="form-group mt-3">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group mt-3">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
            </div>
            <input class="btn btn-primary mt-3" type="submit" value="Login">
        </form>

        <div class="d-flex mt-5">
            <h5 class="text-light me-3"> Don't have an account yet? </h5>
            <a href="{% url 'register' %}" class="text-warning">Register Now</a>
        </div>
    </div>

{% endblock %}